<meta charset="UTF-8">
<meta name="author" content="Mikhail Rene Shaw">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>CSS Grid Tut 1</title>
<link rel="shortcut icon" href="../../favicon.png"/>
<link rel="stylesheet" href="../style.css"/>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<script src="../script.js"></script>
